<header>
  <nav
    class="fixed top-0 left-0 w-full bg-[#0B0F19]/80 backdrop-blur-md border-b border-white/10 z-50"
  >
    <div class="max-w-7xl mx-auto px-6 h-20 flex items-center justify-between">
      <!-- Logo -->
      <a href="/" class="text-3xl font-extrabold text-[#FF385C]"> NeoStay </a>

      <!-- Links -->
      <div class="hidden md:flex gap-8 font-medium text-gray-300">
        <a
          href="/"
          class="<%= title === 'Home Page' ? 'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition"
          >Home</a
        >
        <a
          href="/wishlist"
          class="<%= title === 'Wishlist' ? 'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition"
          >Wishlist</a
        >
        <a
          href="/bookings"
          class="<%= title === 'Bookings' ? 'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition"
          >Bookings</a
        >
        <a
          href="/host/host-home-list"
          class="<%= title === 'Host Home List' ? 'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition"
          >Host Home List</a
        >
        <a
          href="/host/host-bookings"
          class="<%= title === 'Host Home List' ? 'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition"
          >Host Bookings</a
        >

        <a
          href="/host/add-home"
          class="<%= title === 'Add New Home' ? 'text-[#FF385C]' : 'hover:text-[#FF385C]' %> transition"
          >Add Home</a
        >
      </div>

      <!-- Auth Buttons -->
      <div class="flex gap-3">
        <button
          class="px-4 py-2 rounded-full text-gray-300 hover:bg-white/10 transition"
        >
          <a href="/auth/login">Log in</a>
        </button>

        <button
          class="px-5 py-2 rounded-full bg-[#FF385C] text-white hover:bg-[#e0314f] transition"
        >
          <a href="/auth/signup">Sign up</a>
        </button>
      </div>
    </div>
  </nav>
</header>
